body {


    font-family: 'Oswald', sans-serif;



}




.icono {

color: green;
padding-right: 20px;

}
.icono:hover { 

    color: black;
    
}


.icon { 



    color: green;
    height: 3em;
    width : 3em;
}


.navbar {

background-color: white;
min-height: 100px;
font-size: 1.1rem;
box-shadow : 0 2px 4px rgba(0, 0 , 0 , 0.05);


}

.nav-link {

    color: black;

}


.nav-link:hover {

    color: green;
}
.navbar-toggler {
    font-size: 35px;
}

.navbar-toggler:focus {
    outline: none;
}

.iconodetails { 
    width: 75px;
    margin: auto;
    text-align: center;

}

.nav-user {
    display: block ;
    padding-top: 8px; 
    color: green;
}